
.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    /*color: #fff; not selected arrow text color*/
    color: var(--green-color);

    text-decoration: none;

    background-color: var(--light-color);

    border: 1px solid var(--light-color)
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    /* right triangle in arrow color*/
    border-left-color: var(--light-color);
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    /* arrows delimiter color*/
    border-left: 11px solid var(--green-color)
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    /* arrow background hover color*/
    background-color: var(--light-hover-color);
    /*border: 1px solid #4fc1e9 arrow border hover color*/
    border: 1px solid var(--light-hover-color)
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    /* selected right triangle in arrow hover color*/
    border-left-color: var(--light-hover-color)
}
.breadcrumb-arrow li a:active {
    /* click arrow background color */
    background-color: var(--light-hover-color);
    /* click arrow border colors */
    border: 1px solid var(--light-hover-color);
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    /* click right triangle in arrow color */
    border-left-color: var(--light-hover-color)
}
.breadcrumb-arrow li span {
    /* selected arrow text color*/
    color: var(--green-color);
}

.breadcrumb {
    margin-bottom: 0px;
    border-radius: 2px;
}

.breadcrumb-arrow {
    background-color: var(--light-color);
}