#mapIFrame {
    height: 218px;
}

@media (min-width: 992px) {
    #mapIFrame {
        height: 218px;
    }
}

@media (min-width: 1200px) {
    #mapIFrame {
        height: 218px;
    }
}

.green {
    /*color: #5cb85c;*/
    color: #148328;
}

.header-left {
    padding: 15px;
    margin: 8px;
    display: flex;
    align-items: center
}

#logo {
    max-height: 100%;
    max-width: 100%
}