
.navbar {
    background-color: var(--dark-color) !important;
}

#footer {
    position: relative !important;
    bottom: 0px !important;
    background-color: var(--dark-color) !important;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-group-item.active {
    /*background-color: #5cb85c;*/
    background-color: #148328;
    /*border-color: #5cb85c;*/
    border-color: #148328;
}

.black {
    background-color: #242627;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

#lowerPriceLimit {
    float: left;
}

#upperPriceLimit {
    float: right;
}

body {
    background-color: #edeef0;
}

.site-button {
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: white;
    padding: 15px;
}

.filter-page-block {
    margin-bottom: 0px;
}

.wareName {
    display: block;
}

.wareName {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.filter-card {
    padding: 15px;
    border: none;
}

.card-block {
    padding: 0px;
    padding-top: 8px;
}

.img-fluid {
    height: 100%;
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px !important;
}

.filter-field {
    margin-top: 0px;
    width: 100%;
}

.form-control {
    border-radius: 2px;
}

.input-group-addon {
    background-color: white;
}

.container-fluid {
    padding: 15px;
}

.font-color {
    color: var(--dark-color) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-color) !important;
}

.sub-header {
    margin: 6px 0 0;
    padding: 0 0 13px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    /*color: #656565;*/
    color: var(--dark-color);
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-left {
    margin-left: 15px;
    max-height: 100%;
    max-width: 100%;
}

.image-container {
    position: relative;
}

.discount-label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #e70835;
    color: #FFFFFF;
    width: 42px;
    font-size: 11px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.category-block {
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: white;
    padding: 8px;
    /*margin-top: 15px;
    margin-bottom: 15px;*/
    margin: 8px !important;
}

.slider-container {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.category-name {
    margin-top: 8px;
    margin-bottom: 0px;
}

.mail-button {
    /*background-color: #5cb85c;*/
    background-color: #148328;
    height: 24px;
    color: white;
    border-radius: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 12px;
}

.basket-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;
}

.basket-item-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;
}

.basket-image-wrapper {
    display: inline-block;
}

.basket-image {
    width: 200px;
    height: 200px;
}

.basket-item-info {
    width: 100%;
}

.delete-from-basket-button {
    width: auto;
}

@media (max-width: 991px) {
    .basket-image {
        width: 100px;
        height: 100px;
    }
}