.navbar {
}

#footer {
    position: relative;
    bottom: 0px;
}

#content {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group-item.active {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.filterItem {
    margin-bottom: .5rem;
    padding-left: 0px;
}

.black {
    background-color: #242627;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

#lowerPriceLimit {
    float: left;
}

#upperPriceLimit {
    float: right;
}

body {
    /*background-image: url(http://localhost/Footballcity_Project/images/background/1.jpg);*/
    background-color: #edeef0;
}

.page-block {
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 0px;
    margin: 15px;
}

.wareName {
    color: black;
}

.wareName {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.card {
    border-radius: 4px;
    padding: 8px;
}

.card:hover {
    background-color: #f3f3f3;
}

.card-block {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.img-fluid {
    height: 100%;
    width: 100%;
}